.centred {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f7f7f7;
}


.home-title {
    font-size: 32px;
    margin-bottom: 20px;
}

.home-buttons {
    display: flex;
    justify-content: center;
}

.home-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
}

.home-button:hover {
    background-color: #0056b3;
}

.home-button:focus {
    outline: none;
}